.box {
  width: 37.5rem;
  height: 81.2rem;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 70 0 #c7cbe3;
  font-family: "poppins", sans-serif;
  position: relative;
  overflow-y: scroll;
}
.empty {
  font-size: 1.6rem;
  margin-left: 3.8rem;
}

.title {
  font-family: "poppins", sans-serif;
  font-size: 3.2rem;
  margin: 5rem 0 5rem 3.8rem;
}

.itemBox {
  max-height: 55%;
  overflow-y: scroll;
}
