.cartItem {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-family: "poppins", sans-serif;
  padding: 0 2.5rem 2.5rem 2rem;
  position: relative;
  margin-bottom: 3rem;
}

.cartItem::after {
  content: "";
  width: 90%;
  background-color: #d7d7f9;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.infoBox {
  width: 70%;
}

.cartItem img {
  height: 6.5rem;
  width: 6.5rem;
}

.cartItem h2 {
  font-size: 1.8rem;
  font-weight: 400;
  height: 5.2rem;
}

.unitPrice,
.quantity {
  font-size: 1.6rem;
  font-weight: 700;
}
.containerActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 2rem;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  min-width: 10rem;
  flex-grow: 1;
}

.action button {
  background-color: #6b00f5;
  border: none;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
}

.totalPrice {
  font-size: 3.2rem;
  font-weight: 700;
  width: 12rem;
  text-align: right;
}
